@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #000000;
  --border-color: #ffcc00;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.banner-container {
  max-width: 1890;
  width: 100%;
  margin: 0 auto;
  /* background: var(--hover-color); */
  border-radius: 10px;
  background: linear-gradient(to bottom, #0066ff 0%, #0066ff 90%, #ffffff 100%);
  background-image: radial-gradient(#ffffff 1px, transparent 1px),
    linear-gradient(to bottom, #0066ff 0%, #0066ff 70%, #ffffff 100%);

  background-size: 20px 20px, 100% 100%;
  background-position: 0 0;
}
.container {
  max-width: 1890px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title4 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.title1 {
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
/* nav-sec */
.header-sec {
  position: relative;
  z-index: 2;
  padding: 28px 0;
}
.nav-logo {
  max-width: 130px;
  margin-left: 20px;
}
.nav-logo > a {
  width: 100%;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-link {
  padding: 0 !important;
  position: relative;
  transition: color 0.6s ease;
  padding: 5px 10px;
  color: var(--primary-color);
}
.drop-link {
  color: var(--primary-color);
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
/* Top-left corner */
.nav-link::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  transform: translate(-5px, 0);
}
/* Bottom-right corner */
.nav-link::after {
  bottom: -10px;
  right: -10px;
  border-top: none;
  border-left: none;
  transform: translate(0, 0);
}
/* Hover effect */
.nav-link:hover::before {
  opacity: 1;
  transform: translate(-5px, 0);
}
.nav-link:hover::after {
  opacity: 1;
  transform: translate(-5px, -10px);
}
.nav-item {
  margin: 0 11px;
}
.offcanvas > ul {
  max-width: 674px;
  margin: 0 auto;
}
.offcanvas {
  flex-direction: row;
}
nav,
.navbar {
  max-width: 1620px !important;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--secondary-color);
}
.navbar {
  border: 1px solid gray;
}
.primary-btn {
  padding: 10px 25px;
  border-radius: 20px;
  background: var(--hover-color);
  border-radius: 63px;
  color: var(--primary-color);
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.primary-btn::before,
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.primary-btn::before {
  left: -50%;
}
.primary-btn::after {
  right: -50%;
}
.primary-btn:hover::before {
  left: 0;
}
.primary-btn:hover::after {
  right: 0;
}
.primary-btn:hover {
  color: var(--primary-color);
  outline: 1px solid var(--hover-color);
}
.nav-top,
.nav-top > ul {
  display: flex;
  align-items: center;
}
.social-list {
  margin-left: auto;
  max-width: 210px;
}
.nav-top-list > li {
  margin-right: 10px;
}
.social-list > li {
  margin: 0 7.5px;
}
.nav-top-link {
  color: var(--hover-color);
  background: transparent;
}
.social-link {
  color: var(--primary-color);
  transition: 0.6s all linear;
}
.nav-top-link > span {
  margin-left: 15px;
}
.nav-top-link:hover {
  color: var(--primary-color);
}
.social-link:hover {
  transform: translateY(-30%);
}
/* banner-img */
.banner-sec {
  position: absolute;
  /* min-height: 150vh; */
  top: 110px;
  left: 0;
  right: 0;
  z-index: 1;
}
.banner-wraper {
  width: 100%;
  padding: 15px;
}
.img-wraper{
  max-width: 843px;
  height: 764px;
  filter: drop-shadow(0px 35px 55px rgba(0,0,0,0.55))
          drop-shadow(0px 15px 25px rgba(0,0,0,0.45))
          drop-shadow(0px 5px 10px rgba(0,0,0,0.35));
}
.banner-img {
  width: 100% ;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  margin-left: auto;
  margin-top: 250px;
}
.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-cont {
  margin-left: auto;
  margin-top: 250px;
}
.banner-cont > .title1 {
  margin: 25px 0 35px 130px;
  max-width: 719px;
  color: var(--secondary-color);
}
.banner-cont > .title4 {
  max-width: 337px;
  outline: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 5px 10px;
  margin-left: 130px;
}
.banner-cont > p {
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 500;
  max-width: 719px;
  margin-left: 130px;
}
.banner-img-box {
  margin: 30px 0 35px 130px;
  display: flex;
  align-items: center;
}
.banner-sub-img {
  display: flex;
  width: 75px;
  height: 75px;
  position: relative;
}
.banner-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rating-img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 75%;
}
.rating-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.team-img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 150%;
}
.team-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.employe-img {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 220%;
}
.employe-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-img-box > p {
  margin-left: 170px;
  color: var(--secondary-color);
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 15px !important;
}
.banner-img-box > p > span {
  font-size: 18px;
  font-weight: 500;
}
.banner-star {
  color: var(--border-color);
  font-size: 19.86px;
}
.book-btn {
  padding: 10px 25px;
  background: var(--secondary-color);
  border-radius: 63px;
  color: var(--hover-color);
  margin: 30px 0 0 130px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  z-index: 2;
}
.book-btn::before,
.book-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  z-index: -1;
  transition: 0.4s ease;
}
.book-btn::before {
  left: -50%;
}
.book-btn::after {
  right: -50%;
}
.book-btn:hover::before {
  left: 0;
}
.book-btn:hover::after {
  right: 0;
}
.book-btn:hover {
  color: var(--secondary-color);
}
@media screen and (max-width: 1750px) {
  nav,
  .navbar {
    margin: 0 50px;
  }
  .banner-cont > .title1 {
    margin-left: 80px;
  }
  .banner-cont > p {
    margin-left: 80px;
  }
  .banner-cont > .title4,
  .book-btn,
  .banner-img-box {
    margin-left: 80px;
  }
}
@media screen and (max-width: 1650px) {
  .banner-cont > .title1 {
    margin-left: 50px;
  }
  .banner-cont > p {
    margin-left: 50px;
  }
  .banner-cont > .title4,
  .book-btn,
  .banner-img-box {
    margin-left: 50px;
  }
  .title1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1500px) {
  .title1 {
    font-size: 55px;
  }
  .banner-cont > p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1300px) {
  .title1 {
    font-size: 48px;
  }
}
@media screen and (max-width:1200px){
  .banner-img{
    height: auto;
  }
}
@media screen and (max-width:1110px){
  .nav-top-link > span {
    display: none;
  }
  .banner-star{
    font-size: 15px;
  }
  .banner-img-box>p{
    font-size: 28px;
  }
}
@media screen and (max-width: 991px) {
  .offcanvas {
    flex-direction: column;
    text-align: center;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
  }
  .nav-item {
    margin: 0;
  }
  .nav-btn {
    text-align: center;
  }
  .banner-cont>.title4{
    margin: 0 auto;
    text-align: center;
  }
  .banner-cont>.title1{
    margin: 25px auto 50px;
    text-align: center;
  }
  .banner-cont>p{
    margin: 0 auto;
    text-align: center;
  }
  .banner-img-box{
    max-width: 426px;
    margin: 25px auto 50px;
  }
  .banner-btn{
    text-align: center;
  }
  .book-btn{
    margin: 0 auto;
  }
  .banner-wraper{
    margin: 0 auto;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .nav-top-link > span {
    display: none;
  }
  .social-list > li {
    margin: 0 5px;
  }
  .nav-top-list > li {
    margin-right: 22px;
  }
}
@media screen and (max-width:576px) {
  
}
@media screen and (max-width:480px){
  .social-list > li {
    margin: 0 2px;
  }
  .nav-top{
    margin:  0 auto;
  }
  .nav-top-list > li {
    margin-right: 5px;
  }
   .banner-img-box{
    flex-direction: column;
  }
  .banner-sub-img{
    right: 20%;
    bottom: 10px;
  }
  .banner-img-box>p{
    margin: 0 auto;
    max-width: 160px;
    text-align: center;
  }
}
@media screen and (max-width:400px){
  .banner-sub-img{
    right: 25%;
  }
}