@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #000000;
  --border-color: #ffcc00;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #262626;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --header-color: #80a3ff;
  --offcanvsbckground-color: #c3d4ff;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: static;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
.approach-col{
  padding: 0;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.footer-col {
  margin: 28px 0;
}
.approach-col {
  /* margin-top: auto; */
}
/* title */
.title1{
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
}
.title2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}
.header-sec {
  /* position: fixed; */
  width: 100%;
  /* overflow-x: hidden; */
  top: 0;
  z-index: 2;
  padding: 28px 0;
}
.nav-logo {
  max-width: 213px;
  margin-left: 20px;
}
.nav-logo > a {
  width: 100%;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-link {
  padding: 0 !important;
  position: relative;
  transition: color 0.6s ease;
  padding: 5px 10px;
  color: var(--primary-color);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 1%;
  top: 100%;
  width: 0%;
  height: 2px;
  background-color: var(--hover-color);
  transition: width 0.35s ease;
  pointer-events: none;
}
/* hover */
.nav-link:hover {
  color: var(--hover-color);
}
.nav-link:hover::after {
  width: 100%;
}
/* active (clicked / current page) */
.nav-link.active {
  color: var(--hover-color);
}
.nav-link.active::after {
  width: 100%;
}
.drop-link {
  color: var(--primary-color);
  /* padding-right: 22px; */
}
.drop-link > .drop-down {
  font-size: 12px !important;
}
/* .nav-link::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid var(--hover-color);
  opacity: 0;
  transition: 0.3s ease;
}
/* Top-left corner */
/* .nav-link::before {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
  transform: translate(-5px, 0);
} */
/* .nav-link::after {
  bottom: -10px;
  right: -10px;
  border-top: none;
  border-left: none;
  transform: translate(0, 0);
} */
/* .nav-link:hover::before {
  opacity: 1;
  transform: translate(-5px, 0);
}
.nav-link:hover::after {
  opacity: 1;
  transform: translate(-5px, -10px);
}  */
/* .nav-link.active::before {
  opacity: 1;
  transform: translate(-5px, 0);
}
.nav-link.active::after {
  opacity: 1;
  transform: translate(-5px, -10px);
} */
.nav-item {
  margin: 0 11px;
  height: 27px;
}
.offcanvas > ul {
  max-width: 558px;
  height: 67px;
  border-radius: 100px;
  background: var(--card-background-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.offcanvas {
  flex-direction: row;
}
nav,
.navbar {
  max-width: 1620px !important;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--secondary-color);
}
.navbar {
  border: 1px solid gray;
}
.primary-btn {
  padding: 10px 25px;
  border-radius: 20px;
  background: var(--hover-color);
  border-radius: 63px;
  color: var(--secondary-color);
  margin: 12px 20px 12px 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.primary-btn::before,
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.primary-btn::before {
  left: -50%;
}
.primary-btn::after {
  right: -50%;
}
.primary-btn:hover::before {
  left: 0;
}
.primary-btn:hover::after {
  right: 0;
}
.primary-btn:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.nav-top,
.nav-top > ul {
  display: flex;
  align-items: center;
}
.social-list {
  margin-left: auto;
  max-width: 210px;
}
.nav-top-list > li {
  margin-right: 10px;
}
.social-list > li {
  margin: 0 7.5px;
}
.nav-top-link {
  color: var(--hover-color);
  background: transparent;
}
.social-link {
  color: var(--primary-color);
  transition: 0.6s all linear;
}
.nav-top-link > span {
  margin-left: 15px;
}
.nav-top-link:hover {
  color: var(--primary-color);
}
.social-link:hover {
  transform: translateY(-30%);
}
/* banner-sec */
.banner-sec{
  padding: 70px 0 ;
  background: linear-gradient(
    90deg,
    #2F6BFF 0%,     /* left dark blue */
    #4F7DFF 45%,    /* middle */
    #7FA0FF 100%    /* right light blue */
  );
}
.banner-cont{
  text-align: center;
  color: var(--secondary-color);
}
.banner-cont>.title1{
  color: var(--secondary-color);
}
/* approach-sec */
.approach-sec{
  padding: 75px 0;
}
.approach-sub-img {
  max-width: 309px;
  height: 328px;
  border-radius: 16px;
}
.approach-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.approach-img {
  max-width: 648px;
}
.approach-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.approach-box {
  display: flex;
}
.approach-card {
  max-width: 315px;
  height: 328px;
  margin-right: 21px;
  border-radius: 16px;
}
.card-img {
  max-width: 81px;
  margin: 14px auto 18px;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-body {
  max-width: 400px;
  padding: 0 24px;
}
.card-title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.card-cont-img {
  max-width: 65px;
}
.card-cont-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-sub-body {
  padding: 14px 24px;
}
.approach-sub-card {
  max-width: 312px;
  height: 315px;
  margin-right: 24px;
  border-radius: 16px !important;
}
.approach-cont > .title2 {
  margin: 8px 0 16px;
  text-transform: capitalize;
}
.approach-cont {
  margin-bottom: 40px;
  /* max-width: 645px;
    margin-left: auto; */
}
.approach-cont > p {
  font-size: 24px;
  font-weight: 500;
}
.approach-cont > .title2 > span {
  color: var(--header-color);
}
/* electric-sec */
.electric-header {
  max-width: 672px;
  margin-bottom: 71px;
}
.electric-header > .title2 > span {
  color: var(--header-color);
}
.electric-card {
  max-width: 601px;
  height: 320px;
  margin-bottom: 32px;
   transition: 0.3s ease;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2), 0px 15px 40px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  border: none;
}
.electric-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.28),
    0px 20px 50px rgba(0, 0, 0, 0.18);
}
.electric-card-img {
  max-width: 71px;
}
.electric-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-para {
  font-size: 24px;
  font-weight: 400;
}
.card-box {
  max-width: 541px;
  padding: 27.5px 30px;
}
.electric-img {
  max-width: 558px;
  position: relative;
  margin-left: auto;
  height: 512px;
}
.electric-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.electric-sub-img {
  max-width: 454px;
  height: 540px;
  position: absolute;
  top: 70%;
  left: -15%;
  border: 14px solid var(--secondary-color);
  border-radius: 16px;
}
.electric-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.electric-col {
  margin-bottom: auto;
}
.electric-card-title {
  font-size: 32px;
  color: var(--hover-color);
  font-weight: 500;
}
/* estimate-sec */
.estimate-sec {
  padding: 58px 0;
}
.estimate-wraper{
  padding: 0 10px;
}
.estimate-conatiner{
  border-radius: 16px;
  background: var(--offcanvsbckground-color);
}
.estimate-cont>.title4{
  margin-top: 25px;
}
.estimate-cont > .title2 > span {
  color: var(--hover-color);
}
.estimate-cont > .title2 {
  margin: 8px 0 24px;
  text-transform: capitalize;
}
.estimate-cont > .title2 > span {
  color: var();
}
.estimate-cont > p {
  margin-bottom: 61px;
}
.estimate-cont > ul {
  list-style-type: disc;
}
.estimate-img {
  max-width: 538px;
  height: 534px;
  margin-bottom: 10px;
}
.estimate-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.estimate-sub-img {
  max-width: 63px;
}
.estimate-sub-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* choose-sec */
.choose-sec {
  padding: 92px 0;
}
.choose-cont {
  max-width: 607px;
}
.choose-cont > .title2 {
  margin: 8px 0 24px;
}
.choose-cont > .title2 > span {
  color: var(--header-color);
}
.choose-cont > ul {
  margin: 50px 0 53px;
  list-style-type: disc;
}
.choose-img {
  max-width: 648px;
}
.choose-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.view-btn {
  padding: 19px 34px;
  border-radius: 24px;
  background: var(--header-color);
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.view-btn::before,
.view-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  z-index: -1;
  transition: 0.4s ease;
}
.view-btn::before {
  left: -50%;
}
.view-btn::after {
  right: -50%;
}
.view-btn:hover::before {
  left: 0;
}
.view-btn:hover::after {
  right: 0;
}
.view-btn:hover {
  color: var(--secondary-color);
}
/* footer-sec */
.footer-sec {
  background: var(--primary-color);
  padding: 70px 0;
}
.footer-header {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
}
.footer-form {
  text-align: center;
  margin: 32px 0 155px;
}
.footer-form-cont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--email-background-color);
}
#email {
  border: none;
  outline: none;
  width: 570px;
  height: 76px;
  background: var(--email-background-color);
  border-radius: 20px;
  padding-left: 20px;
}
#submit {
  background: var(--hover-color);
  border: none;
  width: 184px;
  height: 70px;
  /* padding: 26px 64.5px; */
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 5px 5px 5px 0;
}
#submit::before,
#submit::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
#submit::before {
  left: -50%;
}
#submit::after {
  right: -50%;
}
#submit:hover::before {
  left: 0;
}
#submit:hover::after {
  right: 0;
}
#submit:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}
.footer-social,
.footer-social > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer-social > ul > li {
  margin-right: 21px;
}
.footer-social-link {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.6s all linear;
}
.footer-social-link:hover {
  transform: translateY(-30%);
}
.footer-main-cont > p {
  color: var(--social-color);
  font-size: 12px;
}
.footer-link {
  color: var(--social-color);
  font-size: 16px;
}
.footer-link:hover {
  color: var(--header-color);
}
.footer-cont-header {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer-cont > ul > li {
  margin-bottom: 8px;
}
.side-box {
  display: flex;
  align-items: center;
  color: var(--social-color);
}
.left-side {
  border-right: 1px solid var(--social-color);
  padding-right: 5px;
  font-size: 14px;
}
.right-side {
  margin-left: 5px;
  font-size: 14px;
}
.footer-low-img-cont {
  display: flex;
  align-items: center;
  max-width: 179px;
  margin-left: auto;
  margin-right: 30px;
}
.footer-lower-img {
  max-width: 35px;
  margin-right: 12px;
}
.footer-lower-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo {
  max-width: 179px;
  margin-bottom: 19px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* media-quarry */
@media screen and (max-width: 1300px) {
  .electric-img {
    max-width: 450px;
  }
  .electric-sub-img {
    max-width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
  .card-cont-img {
    max-width: 50px;
  }
  .electric-card {
    max-width: 440px;
  }
   .nav-top-link > span {
    display: none;
  }
   .col-20 {
    width: 50%;
  }
   .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
   .title2 {
    font-size: 40px;
  }
  .title4 {
    font-size: 20px;
  }
  .offcanvas {
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 99;
    background: var(--offcanvsbckground-color);
  }
  .offcanvas-backdrop {
    z-index: 9;
  }
  .offcanvas .dropdown-menu {
    position: absolute;
    z-index: 999;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--hover-color);
  }
  .offcanvas > ul {
    background: var(--offcanvsbckground-color);
    margin: 0 !important;
    height: auto;
    border-radius: 0;
  }
  .nav-link {
    margin: 0 0 10px;
  }
  .drop-link {
    margin: 0 0 10px;
  }
  .nav-item {
    margin: 0;
  }
  .nav-btn {
    text-align: center;
  }
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  .primary-btn{
    margin: 0;
  }
  .approach-card{
   margin: 0 auto;
  }
  .approach-sub-img{
    margin: 0 auto;
  }
  .approach-sub-card{
   margin: 0 auto;
  }
  .approach-box {
    max-width: 645px;
    margin: 0 auto;
  }
  .approach-img {
    margin: 20px auto;
    max-width: 100%;
  }
  .approach-cont {
    text-align: center;
  }
  .approach-row {
    flex-direction: column-reverse;
  }
  .electric-header {
    text-align: center;
    margin: 20px auto;
  }
  .electric-card {
    margin: 10px auto;
  }
  .electric-img {
    margin: 10px auto auto;
  }
  .electric-sec {
    height: 180vh;
  }
  .estimate-cont {
    text-align: center;
  }
  .estimate-cont > ul {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
  }
  .estimate-img {
    margin: 20px auto;
  }
  .estimate-sub-cont {
    max-width: 170px;
    margin: 0 auto;
    text-align: center;
  }
  .estimate-sub-img {
    margin: 0 auto;
  }
  .choose-row {
    flex-direction: column-reverse;
  }
  .choose-cont {
    text-align: center;
    margin: 0 auto;
  }
  .choose-cont > ul {
    text-align: left;
    max-width: 560px;
    margin: 30px auto;
  }
  .choose-img {
    margin: 0 auto;
    max-width: 100%;
  }
   .footer-form-cont {
    max-width: 710px;
  }
  .electric-sub-img{
    top: 65%;
    left: -12%;
  }
  #submit {
    margin-left: auto;
  }
  #email {
    width: 500px;
    margin-right: auto;
  }
  .col-20 {
    width: 50%;
  }
  .footer-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .footer-main-cont {
    max-width: 248px;
    margin: 0 auto;
  }
  .view-btn{
    position: relative;
    z-index: 1;
  }
  #submit{
    z-index: 1;
  }
  .estimate-img{
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .estimate-img>img{
    object-fit: contain;
  }
  .estimate-sec{
    height: 180vh;
  }
}
@media screen and (max-width:768px){
   .title1 {
    font-size: 40px;
  }
  .title2 {
    font-size: 36px;
  }
  .title4 {
    font-size: 18px;
  }
  .electric-img{
    max-width: 400px;
  }
  .electric-sub-img{
    max-width: 300px;
    left: -10%;
  }
   .footer-form-cont {
    max-width: 560px;
  }
  #submit {
    margin-left: auto;
    width: 150px;
  }
  #email {
    width: 400px;
    margin-right: auto;
    height: 70px;
  }
  .col-20 {
    width: 100%;
  }
   .footer-cont {
    text-align: center;
  }
  .footer-main-cont {
    text-align: center;
  }
  .footer-social > ul {
    max-width: 248px;
    margin: 0 auto;
  }
   .footer-low-img-cont {
    margin: 0 auto;
  }
  .footer-cont>ul>li>a{
    text-align: center;
  }
   .footer-header {
    font-size: 28px;
  }
  .side-box {
    max-width: 344px;
    margin: 0 auto;
  }
   .footer-logo {
    margin: 0 auto 19px;
  }
  /* .footer-cont-header{
   max-width: 170px;
   margin: 0 auto;
  } */
  /* .footer-cont>u>li{
    text-align: center;
  } */
   .footer-cont>ul{
    padding: 0;
   }
   .estimate-sec{
    height: 195vh;
   }
}
@media screen and (max-width:576px){
  .approach-card{
    margin: 0 auto;
  }
  .approach-sub-card{
    margin: 10px auto;
  }
  .approach-sub-img{
    margin: 10px auto;
    max-width: 100%;
  }
   #submit {
    margin-left: auto;
    width: 100px;
    font-size: 12px;
  }
  .estimate-sec{
    height: 170vh;
   }
  #email {
    width: 250px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 360px;
  }
   .title1 {
    font-size: 36px;
  }
  .title2 {
    font-size: 28px;
  }
  .title4 {
    font-size: 14px;
  }
  .title5 {
    font-size: 14px;
  }
  .electric-card-title{
    font-size: 24px;
  }
  .card-para{
    font-size: 16px;
  }
  .electric-card-img{
    max-width: 50px;
  }
   .electric-img{
    max-width: 350px;
  }
  .electric-sub-img{
    max-width: 250px;
    top: 60%;
    left: -10%;
  }
  .electric-sec{
    height: 160vh;
  }
  .view-btn{
    padding: 12px 24px;
    font-size: 12px;
  }
  .estimate-img{
    height: auto;
  }
}
@media screen and (max-width:480px){
   .social-list > li {
    margin: 0 2px;
  }
  .nav-top {
    margin: 0 auto;
  }
  .nav-top-list > li {
    margin-right: 5px;
  }
   .electric-img{
    max-width: 300px;
    margin: 0 auto;
  }
  .electric-sub-img{
    max-width: 200px;
    left: -7%;
  }
  .electric-sec{
    height: 155vh;
    height: auto;
  }
}
@media screen and (max-width:400px){
   .title1 {
    font-size: 28px;
  }
  .title2 {
    font-size: 24px;
  }
  .title4 {
    font-size: 12px;
  }
   .electric-img{
    max-width: 250px;
  }
  .electric-sub-img{
    max-width: 150px;
  }
  .estimate-sec{
    height: 150vh;
   }
}
@media screen and (max-width:360px){
    #submit {
    margin-left: auto;
    width: 100px;
  }
  #email {
    width: 200px;
    margin-right: auto;
    height: 70px;
  }
  .footer-form-cont {
    max-width: 310px;
  }
  .left-side {
    font-size: 12px;
  }
  .right-side {
    font-size: 12px;
  }
  .side-box {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}
